# CA4015 Application Domains Assignments
For this assignment, I will be analysis my personal data that I have gathered from SleepScore, Fitbit and CBT Thought Diary

In [14]:
import numpy as np
import pandas as pd
import os

In [4]:
pwd

'C:\\Users\\Diarmuid\\Documents\\dcu\\final-year\\ca4016_application_domains\\ca4016_application_domains_2\\notebooks'

In [12]:
fitbit_path = '../data/fitbit_data.csv'

In [7]:
fitbit_df = pd.read_csv(fitbit_path)

In [8]:
fitbit_df.head()

,Body,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Date,Weight,BMI,Fat,NaN,NaN,NaN,NaN,NaN,NaN
1,01/10/2022,72.98,23.56,0,NaN,NaN,NaN,NaN,NaN,NaN
2,02/10/2022,72.97,23.56,0,NaN,NaN,NaN,NaN,NaN,NaN
3,03/10/2022,72.95,23.55,0,NaN,NaN,NaN,NaN,NaN,NaN
4,04/10/2022,72.94,23.55,0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
activities_index = fitbit_df.Body[fitbit_df.Body == 'Activities'].index[0]

27

In [72]:
raw_df = pd.read_csv(fitbit_path, names=list(range(10)))

In [73]:
raw_df

,0,1,2,3,4,5,6,7,8,9
0,Body,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Weight,BMI,Fat,NaN,NaN,NaN,NaN,NaN,NaN
2,01/10/2022,72.98,23.56,0,NaN,NaN,NaN,NaN,NaN,NaN
3,02/10/2022,72.97,23.56,0,NaN,NaN,NaN,NaN,NaN,NaN
4,03/10/2022,72.95,23.55,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
70,2022-10-05 12:35AM,2022-10-05 7:15AM,352,48,20,400,74,208,70,NaN
71,2022-10-03 11:09PM,2022-10-04 6:35AM,382,64,28,446,53,247,82,NaN
72,2022-10-02 10:45PM,2022-10-03 6:52AM,426,61,28,487,104,264,58,NaN
73,2022-10-01 10:33PM,2022-10-02 7:21AM,437,91,32,528,84,297,56,NaN
74,2022-09-30 11:11PM,2022-10-01 7:32AM,447,54,33,501,80,277,90,NaN

In [74]:
int(np.where(raw_df[0] == category)[0] + 1)

29

In [113]:
target_csv=fitbit_path
category='Activities'
raw_df = pd.read_csv(target_csv,names = list(range(10)), skip_blank_lines = False)

In [114]:
    #"start" denotes the index where the data in the desired category begins
start = int(np.where(raw_df[0] == category)[0] + 1)

    #"blank_separators" is a list of indices where the first column value is null, meaning the end of a category
blank_separators = np.where(raw_df[0][start:].isnull())[0]

In [116]:
blank_separators

array([26], dtype=int64)

In [109]:
stop = blank_separators[0] - 1 if len(blank_separators) > 0 else len(raw_df) - 1

In [110]:
stop

74

In [111]:
def get_df(target_csv, category):
        #raw_df is a DataFrame that contains all the messy data in the original .csv file
    raw_df = pd.read_csv(target_csv,names = list(range(10)), skip_blank_lines = False)
    
        #"start" denotes the index where the data in the desired category begins
    start = int(np.where(raw_df[0] == category)[0] + 1)
    
        #"blank_separators" is a list of indices where the first column value is null, meaning the end of a category
    blank_separators = np.where(raw_df[0][start:].isnull())[0]
    
        #"stop" finds the first value in this list comprehension of "blank_separators" that comes after the "start" index
    stop = (blank_separators[0] - 1) if len(blank_separators) > 0 else (len(raw_df) - 1)
    return(pd.read_csv(target_csv, skiprows = start, nrows = stop-start))

In [112]:
activities_df = get_df(fitbit_path, 'Activities')
sleep_df = get_df(fitbit_path, 'Sleep')

ValueError: 'nrows' must be an integer >=0

In [77]:
activities_df

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,01/10/2022,"3,068","9,944",7.25,19,550,379,4,6,"1,660"
1,02/10/2022,"2,979","10,925",8.01,19,577,292,17,26,"1,504"
2,03/10/2022,"3,496","12,709",9.26,12,523,390,28,12,"2,143"
3,04/10/2022,"2,769","9,808",7.17,17,752,209,21,12,"1,242"
4,05/10/2022,"3,146","12,934",9.44,16,729,246,28,37,"1,632"
5,06/10/2022,"1,890","1,873",1.48,5,879,40,0,0,195
6,07/10/2022,"1,729",0,0.00,0,"1,440",0,0,0,0
7,08/10/2022,"1,729",0,0.00,0,"1,440",0,0,0,0
8,09/10/2022,"1,729",0,0.00,0,"1,440",0,0,0,0
9,10/10/2022,"1,729",0,0.00,0,"1,440",0,0,0,0
10,11/10/2022,"1,776",184,0.13,0,"1,427",13,0,0,45
11,12/10/2022,"3,359","14,841",10.83,22,562,265,42,48,"1,934"
12,13/10/2022,"2,885","10,836",8.06,10,646,273,9,9,"1,357"
13,14/10/2022,"3,159","12,300",8.97,17,"1,116",246,38,40,"1,690"
14,15/10/2022,"3,615","24,424",17.92,47,597,291,45,104,"2,322"
15,16/10/2022,"2,641","6,239",4.73,8,787,169,11,25,"1,029"
16,17/10/2022,"2,935","9,918",7.34,17,780,108,35,65,"1,379"
17,18/10/2022,"3,082","13,818",10.45,15,"1,101",312,6,21,"1,627"
18,19/10/2022,"2,813","10,181",7.63,18,"1,198",160,43,39,"1,281"
19,20/10/2022,"3,331","15,806",11.63,18,620,327,14,36,"1,885"
20,21/10/2022,"3,369","15,047",11.04,22,618,350,21,33,"1,983"
21,22/10/2022,"2,628","7,800",5.69,12,707,301,9,0,"1,198"
22,23/10/2022,"2,403","7,193",5.25,6,"1,260",137,25,18,859
23,24/10/2022,"3,978","23,288",16.97,21,417,376,30,94,"2,753"
24,25/10/2022,"1,420","3,675",2.68,6,414,65,0,0,358